@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

:root {
    --Text-Color: #ffffff;

    --Button-Normal: rgb(32, 32, 32);
    --Button-Hover: rgb(40, 40, 40);
    --Button-Active: rgb(24, 24, 24);

    --Inner-Glow: rgb(255, 255, 255);
    --Outter-Glow: rgb(230, 0, 115);
}

* {
    color: var(--Text-Color);
}

#myVideo {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.grid {
    display: grid;
    place-items: center;
    height: 100%;
    z-index: 10;
    position: absolute; 
    inset: 0;
    font-family: 'Roboto', sans-serif;
}

.displaytext {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 128px;

    margin: 0;

    text-align: center;

    /* add neon effect*/
    text-shadow: 0 0 10px var(--Inner-Glow), 
                0 0 20px var(--Inner-Glow), 
                0 0 30px var(--Outter-Glow), 
                0 0 40px var(--Outter-Glow), 
                0 0 50px var(--Outter-Glow), 
                0 0 60px var(--Outter-Glow), 
                0 0 70px var(--Outter-Glow);
}

audio { 
    display:none;
}

a {
    display: inline-block;
    background-color: var(--Button-Normal);

    text-decoration: none;
    text-align: center;

    padding: 14px 16px;
    width: 150px;
    
    border-radius: 8px;
}

a:hover {
    background-color: var(--Button-Hover);
}

a:active {
    background-color: var(--Button-Active);
}
