@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

* {
    --Text-Color: rgb(255, 255, 255);

    --Button-Normal: rgb(32, 32, 32);
    --Button-Hover: rgb(40, 40, 40);
    --Button-Active: rgb(24, 24, 24);

    --Inner-Glow: #add8e6;
    --Outter-Glow: #adbce6;
}

html,
body {
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;

    height: 100vh;
    width: 100vw;

    margin: 0;
    padding: 0;

    overflow: hidden;
    user-select: none;
}

video {
    width: 100vw;
    height: 100vh;

    position: absolute;
    object-fit: cover;

    z-index: 0;
}

audio {
    display: none;
}

div {
    display: flex;
    flex-wrap: wrap;

    z-index: 1;

    align-items: center;
    justify-content: center;
}

.displaytext {
    color: var(--Text-Color);

    font-family: 'Cedarville Cursive', cursive;
    font-size: 128px;

    margin: 0;
    padding: 0;

    width: 100%;

    text-align: center;
    text-shadow:
        0 0 10px var(--Inner-Glow),
        0 0 20px var(--Inner-Glow),
        0 0 30px var(--Outter-Glow),
        0 0 40px var(--Outter-Glow);
}

a {
    background-color: var(--Button-Normal);
    color: var(--Text-Color);

    text-decoration: none;
    text-align: center;

    font-family: 'Roboto', sans-serif;

    transition: ease-in-out 50ms;

    padding: 14px 16px;
    margin: auto 10px;

    width: 150px;

    border-radius: 8px;
}

a:hover {
    background-color: var(--Button-Hover);
    scale: 1.125;
}

a:active {
    background-color: var(--Button-Active);
    scale: 1.25;
}