@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

:root {
    --Text-Color: #ffffff;

    --Button-Normal: rgb(32, 32, 32);
    --Button-Hover: rgb(40, 40, 40);
    --Button-Active: rgb(24, 24, 24);
}

* {
    color: var(--Text-Color);
}

#myVideo {
    position: fixed;
    bottom: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
}

.grid {
    display: grid;
    place-items: center;
    height: 100%;
    z-index: 10;
    position: absolute; 
    inset: 0;
    font-family: 'Roboto', sans-serif;
}

.content {
    padding-left: 500;
    padding-right: 500;
}

.displaytext {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 128px;

    margin-bottom: 0;

    text-align: center;

    /* add neon effect*/
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
}

audio { 
    display:none;
}

a {
    display: inline-block;
    background-color: var(--Button-Normal);

    text-decoration: none;
    text-align: center;

    padding: 14px 16px;
    width: 150px;
    
    border-radius: 8px;
}

a:hover {
    background-color: var(--Button-Hover);
}

a:active {
    background-color: var(--Button-Active);
}
